<?xml version="1.0"?>
<config>
    <!-- ### Basic configuration ### -->
    
    <!-- Hostname or ip adress of your teamspeak3 server -->
    <!-- e.g. example.com or 192.168.178.2 -->
    <host></host>
    
    <!-- Queryport of your teamspeak3 server -->
    <!-- default: 10011 -->
    <queryport>10011</queryport>
    
    <!-- Serverport of the teamspeak3 server to display -->
    <!-- default: 9987 -->
    <serverport>9987</serverport>
    
    
    <!-- Username of the query user [optional] -->
    <!-- default: empty -->
    <username></username>
    
    
    <!-- Password of the query user [optional] -->
    <!-- default: emtpy -->
    <password></password>
    
    
    <!-- ### Advanced configuration ### -->
    
    <!-- If the viewer should be cached (recommended) -->
    <!-- default: true -->
    <caching>true</caching>
    
    <!-- If the viewer should show any Icons (affects client and servericons) -->
    <!-- default: true -->
    <showIcons>true</showIcons>
    
    <!-- If the viewer should download custom icons (recommended) -->
    <!-- default: true -->
    <downloadIcons>true</downloadIcons>
        
</config>
